@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Class
@{
    ViewBag.Title = "DeleteConfirmation";
}

<nav>
    <a class="navLink" href="/Class/Show/@Model.ClassId">Cancel</a>
</nav>

<div class="delConfirmPage">

    <h2>Are you sure you want to delete @Model.ClassCode @Model.ClassName</h2>
    <p>This action can not be undone.</p>

    <form method="POST" action="/Class/Delete/@Model.ClassId">
        <button class="deleteBtn">Confirm Delete</button>
    </form>
</div>