@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>@Model.ClassCode : @Model.ClassName</h2>
<a href="/Class/List/">Back to Class List</a>

<div>
    <h3>Class Information</h3>
    <p>Start Date: @Model.StartDate</p>
    <p>End Date @Model.FinishDate</p>
</div>