@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Class
@{
    ViewBag.Title = "Show";
}

<nav>
    <a class="navLink" href="/Class/List">Back to Class List</a>
    <a class="navLink" href="/Class/Update/@Model.ClassId">Update Class</a>
    <a class="deleLink" href="/Class/DeleteConfirmation/@Model.ClassId">Delete</a>
</nav>

<div>
    <h2>@Model.ClassCode : @Model.ClassName</h2>
    <h3>Class Information</h3>
    <p>Start Date: @Model.StartDate</p>
    <p>End Date @Model.FinishDate</p>
</div>