@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Class
@{
    ViewBag.Title = "Update";
}

<nav>
    <a class="navLink" href="/Class/Show/@Model.ClassId">Back</a>
</nav>

<div>
    <h2>Update Class</h2>

    <form action="/Class/Update/@Model.ClassId" method="POST" onsubmit="validateClassForm();">
        <div class="classInput">
            <label for="classcode">Class Code:</label>
            <input type="text" id="classcode" name="classcode" value="@Model.ClassCode" />
        </div>
        <div class="classInput">
            <label for="classnames">Class Name:</label>
            <input type="text" id="classname" name="classname" value="@Model.ClassName" />
        </div>
        <div class="classInput">
            <label>Start Date:</label>
            <input type="date" id="startdate" name="startdate" value="@Model.StartDate" />
        </div>
        <div class="classInput">
            <label>Finish Date:</label>
            <input type="date" id="finishdate" name="finishdate" @Model.FinishDate />
        </div>
        <div>
            <button class="formBtn" type="submit">Update Class</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function validateClassForm() {
        var classCode = document.getElementById("classcode");
        var className = document.getElementById("classname");

        var classCodePattern = /\w{4}\d{4}/;

        var ccMssg = document.getElementById("ccErrorMssg");
        var cnMssg = document.getElementById("cnErrorMssg");

        if (classCode == "" || !classCodePattern.test(classCode)) {
            ccMssg.innerHTML = "This form field can not be empty, and code must be four letters followed by four numbers!";
            return false;
        } else if (className == "" || className == null) {
            cnMssg.innerHTML = "This form field can not be empty;"
            return false;
        } else {
            return true;
        }
    }
</script>