@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Student
@{
    ViewBag.Title = "Show";
}

<nav>
    <a class="navLink" href="/Student/List">Back to Student List</a>
    <a class="deleLink" href="/Class/DeleteConfirmation/@Model.StudentId">Delete</a>
</nav>

<div>
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <h3>Student Information:</h3>
    <p>Student Number: @Model.StudentNumber</p>
    <p>Enroll Date: @Model.EnrollDate.ToString("MMMM-dd-yyyy")</p>
</div>