@model IEnumerable<HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<nav>
    <a class="navLink" href="/Teacher/Add">Add Teacher</a>

    <form action="/Teacher/List" method="GET">
        <div class="searchBar">
            <input type="text" name="SearchKey" />
            <button type="submit" value="search_teacher">Search</button>
        </div>
    </form>
</nav>

<div class="listContainer">
    <h2>List of Teachers</h2>

    @foreach (var teacher in Model)
    {
        <div>
            <a class="teacherList" href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a>
        </div>

    }
</div>