@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<nav>
    <a class="navLink" href="/Teacher/Show/@Model.TeacherId">Back</a>
</nav>

<div>
    <h2>Update Teacher</h2>

    <form action="/Teacher/Update/@Model.TeacherId" method="POST">
        <div class="teacherInput">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" value="@Model.TeacherFname" />
        </div>
        <div class="teacherInput">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" value="@Model.TeacherLname" />
        </div>
        <div class="teacherInput">
            <label for="employeenumber">Employee Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.EmployeeNumber" />
        </div>
        <div class="teacherInput">
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" value="@Model.Salary" />
        </div>
        <button type="submit">Update</button>
    </form>
</div>