@model HTTP5101_Cumulative_Pt3_Natasha_Chambers.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<nav>
    <a class="navLink" href="/Teacher/Show/@Model.TeacherId">Back</a>
</nav>

<div>
    <h2>Update Teacher</h2>

    <form action="/Teacher/Update/@Model.TeacherId" method="POST" onsubmit="validateTeacherForm();">
        <div class="teacherInput">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" value="@Model.TeacherFname" />
            <p id="fnErrorMssg"></p>
        </div>
        <div class="teacherInput">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" value="@Model.TeacherLname" />
            <p class="errorMssg" id="lnErrorMssg"></p>
        </div>
        <div class="teacherInput">
            <label for="employeenumber">Employee Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.EmployeeNumber" />
            <p class="errorMssg" id="emErrorMssg"></p>
        </div>
        <div class="teacherInput">
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" value="@Model.Salary" />
            <p class="errorMssg" id="salErrorMssg"></p>
        </div>
        <button type="submit">Update</button>
    </form>
</div>

<script type="text/javascript">
    function validateTeacherForm() {
        var firstName = document.getElementById("teacherfname").value;
        var lastName = document.getElementById("teacherlname").value;
        var employeeNumber = document.getElementById("employeenumber").value;
        var salary = document.getElementById("salary").value;

        var employeeNumPattern = /(t|T)\d{3}/;

        var fnMssg = document.getElementById("fnErrorMssg");
        var lnMssg = document.getElementById("lnErrorMssg");
        var emMssg = document.getElementById("emErrorMssg");
        var salMssg = document.getElementById("salErrorMssg");

        // Validating form fields
        if (firstName == "" || firstName == null) {
            fnMssg.innerHTML = "first name field can not be blank.";
            return false;

        } else if (lastName == "" || lastName == null) {
            lnMssg.innerHTML = "Last name field can not be blank.";
            return false;

        } else if (employeeNumber == "" || employeeNumber == null || !employeeNumPattern.test(employeeNumber)) {
            emMssg.innerHTML = "Employee number field can not be blank.";
            return false;

        } else if (salary == "" || salary == null || salary == isNaN) {
            salMssg.innerHTML = "Salary field can not be blank.";
            return false;
        }
        else {
            return true;
        }
    }
</script>