body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border: 2px solid #590004;
}

nav {
    clear: both;
    overflow: hidden;
    padding: 15px 0;
}

.navLink {
    padding-top: 15px;
    font-size: 16px;
}

.deleLink {
    float: right;
    color: #a50104;
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #590004;
}

.searchBar {
    float: right;
}

.teacherList {
    font-size: 20px;
}

.teacherInput {
    padding-bottom: 15px;
}

.delConfirmPage {
    text-align: center;
    border: 1px solid black;
    padding: 30px;
}

.deleteBtn {
    background-color: #a50104;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
}
